:root {
  --primary: #e0fbfc;
  --bg: #5c6b73;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Fenix", sans-serif;
  background-color: var(--bg);
  color: #ffffff;
}

/* .topnav{
    background-color: #f1f1f1;
} */

/* ul{
    background-color: aquamarine;
    padding: 50 50;
} */

/* nav li{
    display: inline;
    list-style: none;
    margin: 80px 80px;
    padding: 50px 50px;
    height: 80px;
} */

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #253237;
  border-bottom: 1px solid #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

.navbar .navbar-nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #c2dfe3;
}
.navbar .navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}

.search-bar > .search-container > form {
  padding: 20px;
  padding-top: 100px;
  margin: 20px;
}

.search-bar > .search-container > form > input {
  height: 50px;
  width: 690px;
  margin-left: 340px;
}

.search-bar > .search-container > form > button {
  height: 50px;
  width: 90px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 60px 40px;
  text-align: center;
  margin-top: 20px;
}

.flex-container > div {
  background-color: none;
  color: var(--primary);
  /* margin: 10px; */
  padding: 10px;
  padding-right: 100px;
  font-size: 30px;
  text-align: center;
  justify-content: space-between;
}

.flex-container > div > p {
  font-family: "Fenix";
  font-size: 20px;
  text-align: start;
}

.flex-container > div > span {
  font-family: "Fenix";
  font-size: 20px;
  color: black;
}

.flex-container > ul > li {
  list-style-type: none;
  font-family: "Fenix";
  font-size: 29px;
  font-weight: 400;
  color: #253237;
  display: inline-block;
  padding-left: 150px;
  justify-content: space-between;
}

/* .our-product {
  display: flex;
  flex-wrap: nowrap;
  padding: 60px 40px;
  margin-top: 20px;
} */

/* .our-product > .flex-container-product > div {
  color: black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  justify-content: space-between;
} */

.information-section > .flex-container > .contact > ul > li {
  list-style: none;
  font-family: "Fenix";
  font-size: 20px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #c2dfe3;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #9db4c0;
  background-color: transparent;
  text-decoration: underline;
}

main {
  background-color: azure;
  width: fit-content;
  height: auto;
}

.featured-product > p {
  background-color: #c2dfe3;
  color: #253237;
  text-align: center;
  font-size: 60px;
}

.logo-in-footer > img {
  padding: 30px 30px 0px 50px;
}

footer {
  padding-bottom: 20px;
  text-align: center;
  justify-content: space-between;
}
