*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    background-color: aquamarine;
    padding: 50 50;
}

nav li{
    display: inline;
    list-style: none;
    margin-left: 30px;
}


.flex-container{
    display: flex;
    padding: 60px 40px;
    background-color: rgb(7, 80, 57);
}

.flex-container>div{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

main{
    background-color: azure;
    height: 800px;
}

footer{
    background-color: aquamarine;
}

